.paper {
  padding: 70px;
  border-radius: 0 0 6px 6px;
}

@media (max-width: 500px) {
  .paper {
    padding: 30px;
  }
}

.list {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  flex-wrap: wrap;
}